@import 'src/assets/styles/constants.scss';

#survey-list-page {
  .survey-list {
    &__card {
      display: inline-block;
      padding: 20px;
      margin: 0 20px 20px 0;
      border: 1px solid $color-gray--lighten;
      border-radius: 6px;
      text-decoration: none;
      color: $color-font--light;
      width: 150px;
      &:hover {
        color: $color-font;
        box-shadow: inset 0 1px 1px $color-gray--lighten, 0 0 8px $color-gray--lighten;
        .survey-list__title {
          color: $color-font;
        }
        .survey-list__icon {
          fill: $color-font;
        }
      }
    }
    &__icon {
      display: block;
      margin: 16px auto;
      width: 64px;
      height: 64px;
      fill: $color-font--light;
    }
    &__title {
      //height: 70px;
      text-align: center;
      //overflow: hidden;
    }
    &__description {
      text-align: center;
      color: $color-gray--light;
      font-size: 12px;
      line-height: 17px;
    }
  }
}


@media only screen and (max-width: 480px) {
  #survey-list-page {
    .survey-list {
      &__card {
        display: block;
        margin: 20px 0;
        box-sizing: border-box;
        max-width: none;
        width: 100%;
      }
    }
  }
}
