@import 'src/assets/styles/constants.scss';

#survey-list-page {
  .survey-list {
    &__card {
      display: inline-block;
      padding: 20px;
      margin-bottom: 20px;
      border: 1px solid $color-gray--lighten;
      border-radius: 6px;
      text-decoration: none;
      color: $color-gray--light;
      max-width: 200px;
      &:hover {
        color: $color-gray;
        box-shadow: inset 0 1px 1px $color-gray--lighten, 0 0 8px $color-gray--lighten;
        .survey-list__icon {
          fill: $color-gray--light;
        }
      }
    }
    &__icon {
      display: block;
      margin: 16px auto;
      width: 64px;
      height: 64px;
      fill: $color-gray--lighten;
    }
  }
}
