@import 'src/assets/styles/constants.scss';

#survey-item-page {
  .survey-item {
    &__header {
      text-align: center;
      font-size: 30px;
      padding-bottom: 20px;
      color: $color-gray--lighten;
    }
    &__title {
      font: 500 30px/32px Roboto, Arial, Helvetica, sans-serif;
      text-align: center;
    }
    &__description {
      > ol > li > span {
        color: $color-gray;
      }
    }
    &__card {
      padding: 20px;
      margin-bottom: 20px;
      border: 1px solid $color-gray--lighten;
      border-radius: 6px;
    }
    &__question {
      padding: 0 0 22px;
      font: 300 30px/32px Roboto, Arial, Helvetica, sans-serif;
      color: #333;
    }
    &__send {
      text-align: center;
      padding-bottom: 30px;
      button {
        width: inherit;
        padding: 5px 20px;
      }
    }
  }
}
