@import 'src/assets/styles/constants.scss';

.user-list {
  list-style: none;
  margin: 0;
  padding: 0;
  &__item > a {
    display: inline-block;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid $color-gray--lighten;
    border-radius: 6px;
    text-decoration: none;
    color: $color-gray--light;
    box-sizing: border-box;
    &:hover {
      color: $color-gray;
      box-shadow: inset 0 1px 1px $color-gray--lighten, 0 0 8px $color-gray--lighten;
      .survey-list__icon {
        fill: $color-gray--light;
      }
    }
  }
}
