// colors
$color-blue: #468ee5;
$color-green: #1dba7a;
$color-red: #ff596d;
$color-orange: #ffa727;
$color-white: #ffffff;
$color-silver: #eef4fc;
// gray
$color-gray--darken: #5d616f;
$color-gray: #95a3b4;
$color-gray--light: #b2bbc6;
$color-gray--lighten: #e7eaf3;

// font colors
$color-font: #343434;
$color-font--light: #5d616f;
$color-background: #fafbfe;

// elements
$color-border: #e8e8e8;



